@use '../../../styles/index.scss';

.title {
  @extend %window-title-drag;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(var(--heroui-background-100));
  overflow: visible;
  border-right: 1px solid hsl(var(--heroui-divider) / 0.15);
}

.titleTop {
  margin: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2px;
}

:global(.windows) {
  .titleTop::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.titleTabRoot {
  @extend %window-title-no-drag;
  width: 100%;
  justify-content: center;
  overflow: visible;
}

.titleTabItem {
  @extend %window-title-no-drag;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.titleBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: visible;
  margin-bottom: 4px;
}

.titleBottomItem {
  @extend %window-title-no-drag;
}
