node_modules
examples
dist
pnpm-lock.yaml
package-lock.json
postcss.config.cjs

src-rs/**/*.rs
src-rs/**/*.toml
src-rs/**/*.lock
src-rs/**/*.png
src-rs/**/*.ico
src-tauri/**/*.rs
src-tauri/**/*.rs
src-tauri/**/*.toml
src-tauri/**/*.lock
src-tauri/**/*.png
src-tauri/**/*.ico

public/libs/
